<div class="container">
    <h2>{{title}}</h2>
    <span *ngIf="!errors.status" class="text-danger">{{errors.message}}</span>
    <div class="panel panel-primary">
        <div class="panel-heading">{{description}}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" name="fname" id="fname" [formControl]="name">
                    </div>
                </div>
            </div>
            <input (click)="saveActivity()" type="submit" class="btn btn-primary" value="Guardar">
        </div>
    </div>
</div>
