<div class="container">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre actividad</th>
            <th>Estado</th>
            <th>Empleado</th>
            <th>Fecha de inicio</th>
            <th>Días de retraso</th>
            <th>
                <button (click)="AddActivity()" type="button" class="btn btn-success" style="margin-left: 10px">
                    {{label_add_activities}}
                </button>
            </th>
        </tr>
        </thead>

        <tbody *ngFor="let activity of activities">

        <tr *ngIf="activity.status_id == 0" class="warning">
            <td>{{activity.name}}</td>
            <td>{{activity.status}}</td>
            <div *ngIf="activity.employees_id != null; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <td>{{activity.name_employed}}</td>
            </ng-template>
            <ng-template #elseBlock>
                <td> -</td>
            </ng-template>
            <td> -</td>
            <td> -</td>
            <td>
                <div class="row">
                    <div class="col-sm">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{employedAssigned}}
                            </button>
                            <div class="dropdown-menu"
                                 aria-labelledby="dropdownMenuButton">
                                <a *ngFor="let employed of employees" (click)="assignedEmployed(activity,employed)"
                                   class="dropdown-item">{{employed.name + " " + employed.lastName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <button (click)="deleteActivity(activity)" type="submit" class="btn btn-danger">Eliminar
                        </button>
                    </div>
                </div>
            </td>
        </tr>

        <tr *ngIf="activity.status_id == 1" class="active">
            <td>{{activity.name}}</td>
            <td>{{activity.status}}</td>
            <td>{{activity.name_employed}}</td>
            <td>
                <div class="row">
                    <div class="col-sm">
                        <form>
                            <input type="datetime-local" id="date_star" name="date_star" [formControl]="date_star">
                        </form>
                    </div>
                </div>
            </td>
            <td>{{activity.delay_days!}}</td>
            <td>
                <div class="row">
                    <div class="col-sm">
                        <button (click)="assignedDateStar(activity)" type="submit" class="btn btn-success">Guardar
                        </button>
                    </div>
                    <div class="col-sm">
                        <button (click)="deleteActivity(activity)" type="submit" class="btn btn-danger">Eliminar
                        </button>
                    </div>
                </div>
            </td>
        </tr>

        <tr *ngIf="activity.status_id == 2" class="info">
            <td>{{activity.name}}</td>
            <td>{{activity.status}}</td>
            <div *ngIf="activity.employees_id != null; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <td>{{activity.name_employed}}</td>
            </ng-template>
            <ng-template #elseBlock>
                <td></td>
            </ng-template>
            <td>{{activity.start_date}}</td>
            <td>{{activity.delay_days!}}</td>
            <td>
                <div class="row">
                    <div class="col-sm">
                        <button (click)="EditActivity(activity)" type="submit" class="btn btn-warning">editar
                        </button>
                    </div>
                    <div class="col-sm">
                        <button (click)="finishedActivity(activity)" type="submit" class="btn btn-success">Finalizar actividad
                        </button>
                    </div>
                    <div class="col-sm">
                        <button (click)="deleteActivity(activity)" type="submit" class="btn btn-danger">Eliminar
                        </button>
                    </div>
                </div>
            </td>
        </tr>

        <tr *ngIf="activity.status_id == 3" class="success">
            <td>{{activity.name}}</td>
            <td>{{activity.status}}</td>
            <td>{{activity.name_employed}}</td>
            <td>{{activity.start_date}}</td>
            <td>{{activity.delay_days!}}</td>
            <td></td>
        </tr>

        </tbody>
    </table>
</div>
